.page[data-name="home"] > .page-content > form[name="time"] {
    display: grid !important;
    grid-template-areas: 
        '. . .'
        'time time time'
        '. submit .'
        '. . .'
        ;
    height: 100%;
}
form[name="time"] {
    box-sizing: border-box;
}

form[name="time"] > .list{
    grid-area: time;
}

form[name="time"] > #submit{
    grid-area: submit;
    height: 150px;
    width: 150px;
    justify-self: center;
    border-radius: 50%;
    padding-top: 45px;
}

#timeline > .warning {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 40vh;
}

#timeline > .warning > span{
    height: 2rem;
    width: 70%;
    font-size: 1rem;
}

.timeline-item-time, .timeline-item-date {
    font-size: 1.25rem !important;
}

.timeline-item-time.break {
    color: #2196f3;
}

.timeline-item-time.end-break {
    color: #ff9500;
}

.timeline-item-time.start {
    color: #4cd964;
}

.timeline-item-time.end {
    color: #ff3b30;
}